div a {
    text-decoration: none;
    color: black;
}
.lora {
    font-family: "Lora", serif;
    font-size: 18px;
    font-weight: bold;
}
.ng-fa-icon.hover-color:hover{
    color:#1EDF88;
}
.ng-fa-icon.color{
    color:#1EDF88;
}
.avatar {
    clip-path: ellipse(25px 25px);
    width: 120px;
    height: 120px;
    object-fit: cover;
}
img {
    clip-path: ellipse(60px 60px);
    width: 150px;
    height: 150px;
    object-fit: cover;
}