<div class="container">
    <div class="row">
        <div class="d-flex flex-column align-items-center mt-4">
            <div class="col" *ngFor="let post of posts">
                <div class="card pb-3" style="width: 22rem;">
                    <app-publication [post]="post"></app-publication>
                    <form>
                        <div class="form-group text-center">
                            <label class="sr-only" for="comment">Commentaire</label>
                            <input class="texteStyle" placeholder="Écrivez un commentaire..." id="comment"
                                [formControl]="comment"><br><br>
                            <div class="d-grid gap-2 col-8 mx-auto mt-0">
                                <button type="submit" (click)="postComment()" class="btn btn-primary">Poster</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <section id="comment">
                <div class="d-flex flex-row col mt-4" *ngFor="let comment of comments">
                    <div class="card-image position">
                        <img [src]="comment.imageUrl" class="avatar">
                    </div>
                    <h3 class="lora gras">
                        <a routerLink="" (click)="viewUser(comment.userId)">{{ comment.userName }}</a>
                    </h3>
                    <h4 class="lora heure" *ngIf="today - comment.commentDate <= 60000">{{ today -
                        comment.commentDate |
                        date:'s':'+0000' }} sec </h4>
                    <h4 class="lora heure"
                        *ngIf="today - comment.commentDate >= 60000 && today - comment.commentDate < 3600000">
                        {{ today - comment.commentDate | date: 'm':'+0000' }} min </h4>
                    <h4 class="lora heure"
                        *ngIf="today - comment.commentDate >= 3600000 && today - comment.commentDate < 86400000">
                        {{ today - comment.commentDate | date:
                        'H':'+0000'}} h </h4>
                    <h4 class="lora heure" *ngIf="today - comment.commentDate >= 86400000">{{ today -
                        comment.commentDate | date:
                        'd':'+0000' }} j </h4>
                    <h3 class="lora fin comment">{{ comment.commentaire }}</h3><br>
                    <button type="button" class="btn btn-link mt-4" *ngIf="comment.userId === userId"
                        data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="deleteComment(comment)">
                        <span class="lora fin">Supprimer</span>
                    </button>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppresion du commentaire</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer votre commentaire ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="confirmDeleteComment()">Supprimer</button>
            </div>
        </div>
    </div>
</div>