<div class="card-body" *ngIf="post">
    <h2 class="card-title">{{ post.userName }}</h2>
    <h3 style="font-size: 10px;">Publié le {{ post.date | date: 'dd/MM/yyyy' }} à {{ post.date |
        date:'HH:mm' }}
    </h3>
    <p class="card-text" style="font-size: 16px">{{ post.texte }}</p>
</div>
<div class="card-image">
    <img [src]="post.imageUrl" alt="Card image cap">
</div>
<div class="card-body">
    <div class="text-center d-flex flex-row justify-content-center">
        <div class="d-flex flex-row justify-content-center col-4">
            <div>
                <fa-icon (click)="like(post)" class="like like--hover-color" [icon]="farThumbsUp"
                    *ngIf="!post.likeStatus">
                </fa-icon>
            </div>
            <div *ngIf="post.likeStatus" [@fadeInOut]>
                <fa-icon (click)="unLike(post)" class="like like--color" [icon]="fasThumbsUp">
                </fa-icon>
            </div>
            <div class="ms-2">
                <span class="lora gras"> {{ post.nbrLikes }} </span>
            </div>
        </div>
        <div class="col-4">
            <a [routerLink]="['/forum/', post.postId]" fragment="comment">
                <fa-icon class="hover-color" [icon]="faCommentAlt" style="font-size: 20px;"></fa-icon>
            </a>
            <span class="lora gras"> {{ post.nbrCommentaires }} </span>
        </div>
        <div class="col-4">
            <a href="#">
                <fa-icon class="hover-color" [icon]="faShare" style="font-size: 20px;"></fa-icon>
            </a>
        </div>
    </div>
</div>