<div class="d-flex flex-column align-items-center mt-4" *ngFor="let user of users">
    <div class="card" style="width: 30rem;">
        <div class="card-img" *ngIf="user.imageUrl !== null">
            <img class="card-img" [src]="user.imageUrl">
        </div>
        <div class="card-header bg-info text-center" style="height: 80px;">
            <h2 class="lora"><strong>Vos Informations</strong></h2>
        </div>
        <ul class="list-group list-group-flush list-group-info">
            <li class="list-group-item">
                <h3 class="lora"><strong>Prénom:</strong> {{ user.firstName }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="lora"><strong>Nom:</strong> {{ user.lastName }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="lora"><strong>Date de naissance:</strong> {{ user.date_de_naissance | date: 'dd/MM/yyyy' }}
                </h3>
            </li>
            <li class="list-group-item">
                <h3 class="lora"><strong>Email:</strong> {{ user.email }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="lora"><strong>Téléphone:</strong> {{ user.telephone }}</h3>
            </li>
            <li class="list-group-item">
                <h3 class="lora"><strong>Code postale:</strong> {{ user.code_postale }}</h3>
            </li>
        </ul>
    </div>
    <button class="btn btn-primary mt-4" [disabled]="!isAuth()" (click)="editUser()">
        <h4 class="lora"><strong>Modifier les informations</strong></h4>
    </button>
</div>